@model ClosedAuctionViewModel
<!-- Modal -->
<div id="closedAuctionDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
               
                <h4 class="modal-title">Avslutat auktion: @Model.Title</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>@Html.DisplayNameFor(model => model.Description): </strong>
                    @Model.Description
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.ReservationPrice): </strong>
                    @Model.ReservationPrice.ToString("C", new CultureInfo("sv-SE"))
                </p>
                <p>
                    @if (Model.highestBid > 0)
                    {
                        <strong>@Html.DisplayNameFor(model => model.highestBid): </strong>
                        @Model.highestBid.ToString("C", new CultureInfo("sv-SE"))
                    }
                    else
                    {
                        <p>
                            Inga bud lagda.
                        </p>
                    }

                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.EndDate): </strong>
                    @Model.EndDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CreateSpecificCulture("sv-SE"))
                </p>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>

