@model ClosedAuctionViewModel
<!-- Modal -->
<div id="closedAuctionDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<a asp-action="#" class="close">&times;</a>*@
               
                <h4 class="modal-title">Avslutat auktion: @Model.Title</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>@Html.DisplayNameFor(model => model.Description): </strong>
                    @Model.Description
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.ReservationPrice): </strong>
                    @Model.ReservationPrice
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.highestBid): </strong>
                    @Model.highestBid
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.EndDate): </strong>
                    @Model.EndDate
                </p>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>

