@model OpenAuctionViewModel

@{
    ViewData["Title"] = "Öppen auktion";
}

<h2>Öppen auktion</h2>

<p>
    <strong>@Html.DisplayNameFor(m => m.Title)</strong>: @Model.Title <br>
    <strong>@Html.DisplayNameFor(m => m.Description)</strong>: @Model.Description <br>
    <strong>@Html.DisplayNameFor(m => m.ReservationPrice)</strong>: @Model.ReservationPrice.ToString("C", new CultureInfo("sv-SE"))<br>
    <strong>@Html.DisplayNameFor(m => m.EndDate)</strong>: @Model.EndDate.ToString("yyyy-MM-dd HH:mm",CultureInfo.CreateSpecificCulture("sv-SE"))<br>
</p>

<p>
    <a class="btn btn-primary btn-sm" data-ajax="true"
       asp-action="BidModal" data-ajax-method="GET"
       asp-route-auctionId="@Model.AuctionId"
       data-ajax-mode="replace"
       data-ajax-begin="startSpinAnimation"
       data-ajax-complete="onCompleteLoadingBidModal"
       data-ajax-failure="onAjaxFailure"
       data-ajax-update="#modalContainer">
        Lägg bud
    </a>
</p>


<div id="bidsContainer">
    <partial name="Bids" for="Bids" />
</div>

<div id="modalContainer"></div>

@section Scripts{
    <script>
        function onCompleteLoadingBidModal() {
            stopSpinAnimation();
            $.validator.unobtrusive.parse($("#bidForm"));
            $('#bidModal').modal('show');
        }

        function onCompletePostBid() {
            stopSpinAnimation();
            $('#bidModal').modal('hide');
        }
    </script>
}

