
@model AuctionsIndexViewModel

@{
    ViewData["Title"] = "Auktioner";
}

<h2>Alla auktioner</h2>
<br />


@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary btn-sm" data-ajax="true"
           asp-action="EditAuctionModal" data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-begin="startSpinAnimation"
           data-ajax-complete="onCompleteLoadingEditModal"
           data-ajax-update="#modalContainer">
            <span class="glyphicon glyphicon-plus"></span> Lägg till auktion
        </a>
    </p>
}


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="hidden" name="sortOrder" value="@Model.CurrentSortOrder" />
        
            Titel: <input asp-for="TitleFilter" />
            Beskrivning: <input asp-for="DescriptionFilter" />
            <button type="submit" value="Sök">
                <span class="glyphicon glyphicon-search"></span> Sök
            </button>    
            <a asp-action="Index">Tillbaka till hela listan</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Beskrivning

            </th>
            <th>
                Startdatum
            </th>
            <th>

                <a asp-action="Index" asp-route-sortOrder="@Model.EndDateSortParam" asp-route-titleFilter="@Model.TitleFilter"
                   asp-route-descriptionFilter="@Model.DescriptionFilter">
                    @if (Model.CurrentSortOrder == null)
                    {
                        <span data-toggle="tooltip" title="Sortera efter slutdatum" class="glyphicon glyphicon-sort-by-attributes"></span>
                    }
                    else if (Model.CurrentSortOrder == "endDate_desc")
                    {
                        <span data-toggle="tooltip" title="Sortera efter slutdatum" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    }
                    Slutdatum
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.ReservationPriceSortParam" asp-route-titleFilter="@Model.TitleFilter"
                   asp-route-descriptionFilter="@Model.DescriptionFilter">

                    @if (Model.CurrentSortOrder == "reservationPrice")
                    {
                        <span data-toggle="tooltip" title="Sortera efter utropspris" class="glyphicon glyphicon-sort-by-attributes"></span>
                    }
                    else if (Model.CurrentSortOrder == "reservationPrice_desc")
                    {
                        <span data-toggle="tooltip" title="Sortera efter utropspris" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    }
                    Utropspris
                </a>
            </th>
            <th>
                Skapad av
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Auctions)
        {
            <tr>
                <td>                
                        @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>

                    @if (item.IsOpen)
                    {
                        <a asp-controller="bids" asp-action="GetOpenAuctionDetails" asp-route-auctionId="@item.AuctionId">
                            <span data-toggle="tooltip" title="Lägg bud / visa detaljer" class="glyphicon glyphicon-plus"></span>
                        </a>
                    }
                    else
                    {
                        <a class="auctionIcons" data-ajax="true"
                           asp-controller="bids"
                           asp-action="GetClosedAuctionDetails" data-ajax-method="GET"
                           asp-route-auctionId="@item.AuctionId"
                           data-ajax-mode="replace"
                           data-ajax-complete="onCompleteLoadingClosedAuctionDetailsModal"
                           data-ajax-update="#modalContainer">
                            <span data-toggle="tooltip" title="Visa detaljer" class="glyphicon glyphicon-new-window"></span>
                        </a>
                    }

                    @if (item.UserAllowedToUpdate)
                    {
                        <a class="auctionIcons" data-ajax="true"
                           asp-route-id="@item.AuctionId"
                           asp-action="EditAuctionModal" data-ajax-method="GET"
                           data-ajax-mode="replace"
                           data-ajax-begin="startSpinAnimation"
                           data-ajax-complete="onCompleteLoadingEditModal"
                           data-ajax-update="#modalContainer">
                            <span data-toggle="tooltip" title="Redigera" class="glyphicon glyphicon-edit"></span>
                        </a>
                    }

                    @if (item.UserAllowedToRemove)
                    {
                        <a class="auctionIcons removeIcon"
                           asp-action="GetRemoveAuctionModal"
                           asp-route-id="@item.AuctionId"
                           data-ajax="true"
                           data-ajax-mode="replace"
                           data-ajax-begin="startSpinAnimation"
                           data-ajax-complete="onCompleteLoadingRemoveAuctionModal"
                           data-ajax-update="#modalContainer">
                            <span data-toggle="tooltip" title="Ta bort auktion" class="glyphicon glyphicon-remove"></span>
                        </a>
                      
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modalContainer">

</div>

@section Scripts{
    <script>

        $(window).on('load', () => {
            var animateOkSymbol = "@Model.AnimateOkSymbol" ==="True";
            if (animateOkSymbol)
                AnimateOkSymbol();

           var nav = $("#navAuctionsPage");
           nav.addClass("active");
        });

        function onCompleteLoadingRemoveAuctionModal() {
            document.querySelector("#removeAuctionForm").addEventListener("submit", function (e) {
                $('#removeAuctionModal').modal('hide');
                startSpinAnimation();
            });
            stopSpinAnimation();
            $('#removeAuctionModal').modal('show');
        }

        function onCompleteLoadingEditModal() {

            document.querySelector("#editAuctionForm").addEventListener("submit", function (e) {
                var startDate = new Date($("#editAuctionForm #startDate").val());
                var endDate = new Date($("#editAuctionForm #endDate").val());

                if (endDate <= startDate) {
                    $("#editAuctionForm #customDatesValidation").text("Slutdatum måste vara senare än startdatum");
                    e.preventDefault();
                    return;
                }
                else
                    $("#editAuctionForm #customDatesValidation").text("");


                if ($("#editAuctionForm").valid()) {
                    $('#editAuctionModal').modal('hide');
                    startSpinAnimation();
                }
              
            });

            stopSpinAnimation();
            $.validator.unobtrusive.parse($("#editAuctionForm"));
            $('#editAuctionModal').modal('show');
        }

        function onCompleteLoadingClosedAuctionDetailsModal() {
            $('#closedAuctionDetailsModal').modal('show');
        }

        function closeEditModal() {
            $('#editAuctionModal').modal('hide');
            startSpinAnimation();
            window.location.href =  "@Url.Action("Index", "Auction")";
        }

        function onSubmitEditModal() {

        }
    </script>
}

